{% extends 'base.html' %}

{% block content %}

<div class="max-w-xl mx-auto bg-white p-8 rounded-2xl shadow-md">

    <h2 class="text-2xl font-bold mb-6">Add Class</h2>

    <form method="POST" class="space-y-5">
        {% csrf_token %}

        {% for field in form %}
        <div>

            <label class="block text-sm mb-1 text-gray-600">
                {{ field.label }}
            </label>

            {{ field }}

        </div>
        {% endfor %}

        <div class="flex justify-end pt-4">

            <button class="px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
                Save
            </button>

        </div>

    </form>

</div>

{% endblock %}